

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.nav{
    display:grid;
    width:100%;
    height: 54px;
    background: #FFFFFF;    
    position:fixed;
}

.nav-content {
    display: grid;
    width: 1200px;
    justify-self: center;
    
    grid-template-columns: auto auto 20%;
    background:#FFFFFF;
    /* border:#333 1px solid; */

}

.nav-content > div {
    align-self: center;
}

#taipei{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    color: #448899; 
}

.button {
    display: grid;
    justify-items: end;
    justify-self: end;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;

    color: #666666;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 10px;
    
}

.hero {
    display:grid;
    width: 1920px;
    height: 320px;
    margin-top: 54px;

    /* background的項目順序必須為前圖片，後顏色 */ 
    background:  
    url('/welcome1.png')  no-repeat,
    linear-gradient(135deg, #AADDEE 0%, #66AABB 100%) repeat;

    background-position: 1038px bottom, left; 
    background-size: 650px 320px, cover; 

}


.subtitle {
    display: grid;
    position: top;
    max-width: 1200px;
    height: 169px;
    justify-self: center;
    justify-content:center;
    padding-top: 85px;
    
    grid-template-areas: 
    "text1"
    "text2"
    "search";
    grid-row-gap: 15px ;
 
}

.welcome1 {
    max-height: 100%;
    height: 320px;
    position: center;
}


.hero1 {
    width: 1180px;
    height: 41px;
    left: 0px;
    top: 0px;
    padding-bottom: 15px;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}

.hero2 {
    width: 1180px;
    height: 22px;
    left: 0px;
    top: 56px;
    padding-bottom: 25px;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    
    display: flex;
    align-items: center;
    
    color: #F8F8F8;
}

.subtitle > form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
}

.subtitle > form > input {
    width: 400px;
    height: 46px;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
}

.subtitle > form > button {
    width: 60px;
    height: 46px;
    left: 0px;
    top: 0px;
    background: #448899;
    background-image: url('/icon_search.png');
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px 10px 10px 0px;
    
}


.attractions {
    display: grid;
    margin-top: 55px;
    width: 1200px;

}

#spots {
    display:grid;
    grid-gap: 30px;
    
    background: #FFFFFF;
    grid-template-columns: auto auto auto auto;

}

.spot {
    display: grid;
    grid-template-areas: 
    "picture"
    "detail" 
    ;
    width: 270px;
    height:242px;

    
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
}

.picture{
    display:grid;
    grid-template-areas: 
    auto
    auto
    ;
    width: 270px;
    height: 202px;
    left: -1px;
    top: -1px;

}

.spot_image {
    width: 268px;
    height:160px;
    object-fit: cover;

}

.spot_name {
    width: 250px;
    height: 22px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;
    justify-self: center;
    
    
    color: #757575;
}

.detail{
    display:grid;
    grid-template-columns: auto auto;
    width: 250px;
    justify-self: center;
    /* margin-top: 15px; */
}

.mrt {
    width: 125px;
    height: 20px;

    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;

    /* display: flex; */
    align-items: center;
    color: #757575;
}

.category{
    width: 125px;
    height: 20px;

    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    
    /* display: flex; */
    align-items: center;
    text-align: right;

    
    color: #757575;   
}

#error{
    justify-self: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top:55px;
    width: 1920px;
    height: 104px;
    padding: 40px 843px;
    
    background: #757575;
}

.footer > div {
    width: 240px;
    height: 14px;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;
    color: #FFFFFF;
}


@media screen and (max-width: 600px){
    .nav-content {
        width: 360px;
        grid-template-columns: auto 0 auto;
    }

    .hero {
        width: 360px;
        height: 280px;

        background-position: 148px bottom, left; 
        background-size: 276px 148px, cover;

    
    }

    .button {
        display: grid;
        justify-items: end;
        justify-self: end;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 10px 0px;

        display: flex;
        align-items: center;
        
    }

    .subtitle > form > input {
        width: 230px;
    }

    .attractions {
        display: grid;
        margin-top: 55px;
        width: 360px;

    
    }
    

    #spots {
        display:grid;
        grid-gap: 15px;
        background: #FFFFFF;
        grid-template-columns: auto;
        justify-self: center;
    
    }
    
    .spot {
        display: grid;
        grid-template-areas: 
        "picture"
        "detail" 
        ;
        width: 322px;
        height:280px;
    
        
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    .picture{

        width: 322px;
        height: 232px;
        left: 0px;
        top: -1px;
    }
    
    .spot_image {
        width: 322px;
        height:200px;
    }
    
    .spot_name {
        width: 302px;
    }
    
    .detail{
        display:grid;
        grid-template-columns: auto auto;
        width: 302px;
        justify-self: center;
        /* margin-top: 15px; */
    }


    .subtitle {
        display: grid;
        position: top;
        max-width: 340px;
        height: 169px;
        justify-self: center;
        justify-content:center;
        padding-top: 85px;
        
        grid-template-areas: 
        "text1"
        "text2"
        "search";
        grid-row-gap: 15px ;
     
    }
    
    .welcome1 {
        max-height: 100%;
        height: 320px;
        position: center;
    }
    
    
    .hero1 {
        width: 320px;
        height: 41px;
        left: 0px;
        top: 0px;
        padding-bottom: 15px;
    
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 24px;
        
        display: flex;
        align-items: center;
        color: #F8F8F8;
        text-shadow: 0px 0px 30px #AABBCC;
    }
    
    .hero2 {
        width: 320px;
        height: 22px;
        left: 0px;
        top: 56px;
        padding-bottom: 25px;

        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;

        display: flex;
        align-items: center;
  
        color: #F8F8F8;
    }

    .footer {
        padding: 40px 0px;
        width: 360px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1200px){


}