<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8"></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1"/>
            <title>One Day in Taipei GO!</title>
            <link rel="stylesheet" href="/css/attraction.css" type="text/css">
            <link rel="stylesheet" href="/css/main.css" type="text/css">
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <link rel="shortcut icon" href="#"/>
        </head>
        
        <body onload='processor(); detect_login_status();'>
            <div class="container">
                <div class="nav">
                    <div class="nav-content">
                        <div id="taipei"><a href='/'>台北一日遊</a> </div>
                        <div class="blank"></div>
                        <div class="nav_button">
                            <div id="booking">預定行程</div> 
                            <div id="login"></div> 
                            <div id="logout"></div>
                        </div>
                    </div>
                </div>
                
                <div id="main">
                    
                    <div class="section">
                        <div class="picture_current_container">
                            <img src="/arrow-left.png" id='prevBtn'></i>
                            <img src='/arrow-right.png' id='nextBtn'></i>
                            <div id="carousel_slide"></div>
                        </div>

                        <div class="profile">
                            <div id="name"></div>
                            <div id="location"></div>
                            <div class="booking_detail_container">
                                <div class="booking_detail">
                                    <div class="detail_title">訂購導覽行程</div>
                                    <div class="detail_description"> <p>以此景點為中心的一日行程，帶您探索城市角落故事</p></div>
                                    <div class="detail_title">
                                        <p style="margin-right: 5px;">選擇日期：</p>
                                        <input id="date" type="date" >
                                    </div>
                                    <div class="detail_title">
                                        <p style="margin-right: 10px;">選擇時間：</p>
                                        <label for="radio_am" class="radio">
                                            <input type="radio" name="time" id="radio_am" value="am"  class ="radio__input" onchange="getPrice(this.value)"> <div class="radio__radio" style="margin-right:4px"></div><p style="margin-right:18px">上半天</p>
                                            
                                            <label for="radio_pm" class="radio">
                                                <input type="radio" name="time" id="radio_pm" value="pm"  class ="radio__input" onchange="getPrice(this.value)"> <div class="radio__radio" style="margin-right:4px"></div> 下半天
                                            </label>
                                        </div>
                                        <div class="detail_title">
                                            <p style="margin-right:5px">導覽費用：</p>
                                            <div class="detail_description" id="booking_price">新台幣 ____ 元</div>
                                    </div>
                                    <button type="button" class="start_booking"> <p>開始預訂行程</p> </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="infors">
                        <div id="description"></div>
                        <div class="infros_title">
                            <p>景點地址：</p>
                            <div id="address"></div>
                        </div>
                        <div class="infros_title">
                            <p>交通方式：</p>
                            <div id="transport"></div>
                        </div>
                    </div>

                    
                </div>
                
                <div class="footer">
                    <div>COPYRIGHT © 2021 台北一日遊</div>
                </div>
                
            </div>
            
            
            <!-- 登入popup-->
            <div class="modal_bg">
                <div class="modal">
                    <div class="deco_bar"></div>
                    <div class="popup_close"></div>
                    <div class="title_popup">登入會員帳號</div>
                    <form name='login'>
                        <input type="email" name="email" placeholder="輸入電子信箱" required/>
                        <input type="password" name="password" placeholder="輸入密碼" required/>
                        <button onclick="user_login()" type="button"> 登入帳戶 </button>
                    </form>
                    <div class="messsage">
                        <div class="success_message"></div>
                        <div class="error_message"></div>
                    </div>
                    
                    <div class="popup_question">還沒有帳戶？<div class="toRegister">點此註冊</div></div>
                </div>
            </div>
            
            <!-- 註冊popup  -->
            <div class="modal_bg_register">
                <div class="modal_register">
                    <div class="deco_bar"></div>
                    <div class="popup_close"></div>
                    <div class="title_popup">註冊會員帳號</div>
                    <form name="register" method="POST">
                        <input type="name" name="name" placeholder="輸入姓名" required/>
                        <input type="email" name="email" placeholder="輸入電子信箱" required/>
                        <input type="password" name="password" placeholder="輸入密碼" required/>
                        <button onclick="user_register()" type="button"> 註冊新帳戶 </button>
                    </form>
                    <div class="messsage">
                        <div class="success_message"></div>
                        <div class="error_message"></div>
                    </div>
                    <div class="popup_question">已經有帳戶了？<div class="toLogin">點此登入</div></div>
                </div>
            </div>
            
            
            
            
            <script type="text/javascript" src='/js/login_register.js'></script>
            <script type="text/javascript" src='/js/attraction.js'></script>
            
        </body>

    </html>

