<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1"/>
        <title>One Day in Taipei GO!</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <link rel="stylesheet" href="/css/booking.css" type="text/css">
        <link rel="shortcut icon" href="#"/>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
        
            <!-- <script type=module src='/js/header_footer.mjs'></script> -->
        </head>
        
        <body onload="detect_login_status(); get_booking_data(); ">  
            <div class="container">
                <!-- <my-header></my-header> -->
                <div class="nav">
                    <div class="nav-content">
                        <div id="taipei"> <a href='/'>台北一日遊</a> </div>
                        <div class="blank"></div>
                        <div class="nav_button">
                            <div id="booking" onclick="to_booking_page();">預定行程</div> 
                            <div id="login"></div> 
                            <div id="logout"></div>
                        </div>
                    </div>
                </div>

                <div class="headline">您好，<div class="username"></div>，待預訂的行程如下：</div>
                <div class="empty_state">目前沒有任何待預訂的行程</div>
    

                <main>

                    <div class="section">
                        <div class="picture">
                            <img class="image">
                        </div>

                        <div class="infor">
                            <div class="frame"> 
                                <div class="title_spot"><p>台北一日遊：</p></div>
                            </div>

                            <div class="frame">
                                <div class="title_booking">日期：</div>
                                <div class="date"></div>
                            </div>

                            <div class="frame">
                                <div class="title_booking">時間：</div>
                                <div class="time"></div>
                            </div>

                            <div class="frame">
                                <div class="title_booking">費用：</div>
                                <div class="price"></div>
                            </div>

                            <div class="frame">
                                <div class="title_booking">地點：</div>
                                <div class="address"></div>
                            </div>

                        </div>

                        <div class="icon_delete" onclick="booking_delete()"></div>

                    </div>
                    <div class="separator"></div>
                    
                    <form name='booking_info' >
                        <div class="contact_form">
                            <div class="title_contact">您的聯絡資訊</div>
                            <div class="title_user">聯絡姓名： <input name="username" type="text"> </div> 
                            <div class="title_user">連絡信箱： <input name="email" type="email"> </div> 
                            <div class="title_user">手機號碼： <input name="phone_no" type="tel"> </div> 
                            <div class="reminder">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。 </div> 


                        </div>
                    </form>

                    <div class="separator"></div>
                    
                    <form name='booking_info' >
                        <div class="payment">
                        <!-- <div class="payment" > -->
                            <div class="title_payment">信用卡付款資訊</div>
                            <div class="payment_info" >卡片號碼： <div class="tpfield" id="card-number"></div> </div> 
                            <div class="payment_info" >過期時間： <div class="tpfield" id="card-expiration-date"></div> </div> 
                            <div class="payment_info" >驗證密碼： <div class="tpfield" id="card-ccv"></div>  </div> 
                            <!-- <div id="cardview-container"> </div> -->
                        </div>
                    </form>

                    <div class="separator"></div>
                    
                    <div class="confirm">
                        <div class="field">
                            <p>總價：</p>
                            <div class="price_info"> </div>
                        </div>
                        <button class="confirm_payment" onclick="confirm_payment();"> <p>確認訂購並付款</p> </button>
                    </div>
                
                </main>
                
                
                <div class="footer">
                    <div>COPYRIGHT © 2021 台北一日遊</div>
                </div>
                <!-- <my-footer></my-footer> -->

            </div>
            
            <!-- 登入popup-->
            <div class="modal_bg">
                <div class="modal">
                    <div class="deco_bar"></div>
                    <div class="popup_close"></div>
                    <div class="title_popup">登入會員帳號</div>
                    <form name='login'>
                        <input type="email" name="email" placeholder="輸入電子信箱" required/>
                        <input type="password" name="password" placeholder="輸入密碼" required/>
                        <button onclick="user_login()" type="button"> 登入帳戶 </button>
                    </form>
                    <div class="messsage">
                        <div class="success_message"></div>
                        <div class="error_message"></div>
                    </div>
                    
                    <div class="popup_question">還沒有帳戶？<div class="toRegister">點此註冊</div></div>
                </div>
            </div>
            
            <!-- 註冊popup  -->
            <div class="modal_bg_register">
                <div class="modal_register">
                    <div class="deco_bar"></div>
                    <div class="popup_close"></div>
                    <div class="title_popup">註冊會員帳號</div>
                    <form name="register" method="POST">
                        <input type="name" name="name" placeholder="輸入姓名" required/>
                        <input type="email" name="email" placeholder="輸入電子信箱" required/>
                        <input type="password" name="password" placeholder="輸入密碼" required/>
                        <button onclick="user_register()" type="button"> 註冊新帳戶 </button>
                    </form>
                    <div class="messsage">
                        <div class="success_message"></div>
                        <div class="error_message"></div>
                    </div>
                    <div class="popup_question">已經有帳戶了？<div class="toLogin">點此登入</div></div>
                </div>
            </div>            
            


            <script type="text/javascript" src='/js/main.js'></script>
            <script type="text/javascript" src='/js/booking.js'></script>


    
        </body>
        </html>
