<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8"></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1"/>
            <title>One Day in Taipei GO!</title>
            <link rel="stylesheet" href="phase2.css" type="text/css">
            <link rel="shortcut icon" href="#"/>
        </head>

        <body onload="init();">
            <div class="container">
                <div class="nav">
                    <div class="nav-content">
                        <div id="taipei">台北一日遊</div>
                        <div class="blank"></div>
                        <div class="button">
                            <div id="booking">預定行程</div> 
                            <div id="login">登入/註冊</div> 
                        </div>
                    </div>

                </div>

                <div class="hero">
                    <div class="subtitle">
                        <div class="hero1">輕鬆享受台北一日悠閒</div>
                        <div class="hero2">探索每個角落，體驗城市的深度旅遊行程</div>
                        <form action="/" method="POST">
        
                            <input type="text" name="search" placeholder="輸入景點名稱查詢" required/> 
                            <button type="button" ></button>
                        </form>
                        
                        
                    </div>
                    
                    
                </div>
                
                <div class="attractions">
                   <div id="spots">
                        <div class="spot">
                            <div class="picture">
                                <img class="spot_image" src='/welcome1.png' >
                                <div class="spot_name">平安鐘</div>
                            </div>
                            
                            <div class="detail">
                                <div class="mrt">忠孝復興</div>
                                <div class="category">公共藝術</div>
                            </div>
                        </div>
                        
                   </div>

                </div>

                <div class="footer">
                    <div>COPYRIGHT © 2021 台北一日遊</div>
                </div>

            </div>
            
            <script type="text/javascript">
                api_url_default = "http://54.168.152.131:3000/api/attractions";
                api_url_spot_id = "http://54.168.152.131:3000/api/attraction/";
                api_url_search = "http://54.168.152.131:3000/api/attractions?keyword=";

                let spots = document.getElementById("spots");
                let count = 0;
                
                // let none_mvc = {
                
                function init(){

                    fetch(api_url_default).then( (response) => {
                        return response.json();
                        }).then( (result) => {
                            for(let i = 0; i < 12; i++){
                            let spot_name = result["data"][i]["name"];

                            let spot_image = "http://" + result["data"][i]["images"][0]
                            // let spot_image = spot_image_proto.replace("','","")
                            let mrt = result["data"][i]["mrt"];
                            let type = result["data"][i]["category"];
                            
                            let picture_div = document.createElement("div");
                            picture_div.className = "picture";
                            
                            let spot_image_img = document.createElement("img");
                            spot_image_img.src = spot_image;
                            picture_div.appendChild(spot_image_img);

                            let spot_name_div = document.createElement("div");
                            spot_name_div.className = "spot_name"
                            picture_div.appendChild(spot_name_div);

                            let detail_div = document.createElement("div");
                            detail_div.className = "detail";
                
                            let mrt_div = document.createElement("div");
                            mrt_div.className = "mrt";
                            detail_div.appendChild(mrt_div);

                            let category_div = document.createElement("div");
                            category_div.className = "category";
                            detail_div.appendChild(category_div);

                            spots.appendChild(picture_div);
                            spots.appendChild(detail_div);
                            }
                        }
                        )
                }
                    
                
                
                    
                




                // let models = {getData:function(api){
                //     data = null;
                //     fetch(api).then( (response) => {return response.json();}).then( (result) => {this.data = result}).then(() => {return this.data});
                //     }};

                // let views = {renderData:function(data){
                //     for(let i = 0; i < 12; i++){
                //         let spot_name = data["data"][i]["name"];
                //         let spot_image = "http://" + models.data["data"][i]["images"].split("http://")[1]
                //         let mrt = data["data"][i]["mrt"];
                //         let type = data["data"][i]["category"];
                        
                //         let picture_div = document.createElement("div");
                //         picture_div.className = "picture";
                        
                //         let spot_image_img = document.createElement("img");
                //         spot_image_img.src = spot_image;
                //         picture_div.appendChild(spot_image_img);

                //         let spot_name_div = document.createElement("div");
                //         spot_name_div.className = "spot_name"
                //         picture_div.appendChild(spot_name_div);

                //         let detail_div = document.createElement("div");
                //         detail_div.className = "detail";
            
                //         let mrt_div = document.createElement("div");
                //         mrt_div.className = "mrt";
                //         detail_div.appendChild(mrt_div);

                //         let category_div = document.createElement("div");
                //         category_div.className = "category";
                //         detail_div.appendChild(category_div);

                //         sopts.appendChild(picture_div);
                //         spots.appendChild(detail_div);


                //         }
                //     }};


                // let controllers = {init:function(){
                //     models.getData(api_url_default).then((data)=>{ views.renderData(data);})
                //     // spots.appendChild("lorem")
                //     }};


            </script>
            
        </body>

    </html>

